* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* text-transform: uppercase; */
  /* color: gray; */
    user-select: none;
  list-style-type: none

}

/* ------------------------------------ */
/* 中央 */
/* ------------------------------------ */
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(182, 182, 182)
}

.box {
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
}

/* ------------------------------------ */
/* likeボタン */
/* ------------------------------------ */
ul {
  display: flex;
  /* flexp-wrap: wrap; */
  flexp-wrap: nowrap;
  font-size: 40px;
  margin: 0 80px;
}

ul li {
  padding: 2px;
  /* margin: 0 10px; */
  margin: 0 20px;
}
ul span{
  /* padding: 10px;
  width: 60px;
  height: 60px; */

  font-size: 24px;
  margin: 0 0 0 -13px;
}

/* ------------------------------------ */
/* dislikeボタン */
/* ------------------------------------ */
ul li:nth-child(2) i{
  transform: rotate(180deg);
  margin: 5px 0 0 0;
  /* margin: 4px 0 0 0; */
}
ul li:nth-child(2) span{
  /* padding: 10px; */
  /* width: 60px; */
  /* height: 60px; */
  vertical-align: 20%;

  font-size: 24px;
  margin: 0 0 0 -10px;
}

/* ------------------------------------ */
/* Shareボタン */
/* ------------------------------------ */
ul li:nth-child(3) {
  /* padding: 8px 0 0 60px; */
  /* padding: 0 0 0 20px; */
}
ul li:nth-child(3) span {
  /* margin-top: 18px; */
  /* line-height: 100px; */

  vertical-align: 10%;
  font-size: 24px;
  margin: 0 0 0 -13px;
}


/* ------------------------------------ */
/* ホーバー時 */
/* ------------------------------------ */
ul li i {
  /* padding: 10px;
  width: 60px;
  height: 60px; */

  padding: 14px;
  width: 70px;
  height: 70px;

  border-radius: 50%;
  /* transition: all 0.4s ease-in-out; */
}

ul li:nth-child(1) i:active,
ul li:nth-child(2) i:active {
  background-color: rgb(226, 226, 226);
  /* box-shadow: 0 0 5px rgb(100, 100 ,100) inset; */
  box-shadow: 0 0 2px rgb(100, 100 ,100) inset;
  cursor: pointer;
}
/* ------------------------------------ */
